<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<!-- 配置加载过程 https://www.ibm.com/developerworks/cn/java/j-hibernate-ut/index.html -->
	<!-- hibernate所有属性配置https://docs.jboss.org/hibernate/orm/3.5/reference/zh-CN/html/session-configuration.html -->
	<session-factory>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
		<property name="hibernate.hikari.minimumIdle">5</property>
		<property name="hibernate.hikari.maximumPoolSize">10</property>
		<property name="hibernate.hikari.idleTimeout">30000</property>
		<property name="hibernate.hikari.dataSourceClassName">com.mysql.jdbc.jdbc2.optional.MysqlDataSource</property>
		<property name="hibernate.hikari.dataSource.url">jdbc:mysql://192.168.0.107:3306/test</property>
		<!-- 本项目使用utf8,设置一下两项,防止插入中文乱码 -->
		<property name="hibernate.hikari.dataSource.useUnicode">true</property>
		<property name="hibernate.hikari.dataSource.characterEncoding">utf8</property>

		<property name="hibernate.hikari.dataSource.user">root</property>
		<property name="hibernate.hikari.dataSource.password">root</property>
		<property name="hibernate.hikari.dataSource.cachePrepStmts">true</property>
		<property name="hibernate.hikari.dataSource.prepStmtCacheSize">250</property>
		<property name="hibernate.hikari.dataSource.prepStmtCacheSqlLimit">2048</property>
		<property name="hibernate.hikari.dataSource.useServerPrepStmts">true</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<mapping resource="entitys/Cateries.hbm.xml" />
		<mapping resource="entitys/Products.hbm.xml" />
		<mapping resource="entitys/Suppliers.hbm.xml" />
		<mapping resource="entitys/Card.hbm.xml" />
		<mapping resource="entitys/Person.hbm.xml" />
	</session-factory>
</hibernate-configuration>